*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 15%,
    #d2dbdc 15%,
    #d2dbdc 100%
    );
}

i:hover{
  color:#000;
  cursor:pointer;
}

/* LAYOUT */
.container{
  display: flex;
  width: 80%;
  min-width: 900px;
  height: 95%;
  background: #fff;
}

.side{
  flex-basis: 35%;
  background: #fff;
}

.side-utente{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eaeaea;
}

.side-utente img{
  max-width: 15%;
  padding: 10px;
  border-radius: 50px;
}

.side-utente p{
  font-size: 16px;
  margin-right: auto;
}

.side-utente-icons{
  color: grey;
  padding: 15px;
}

.side-utente-icons i{
  padding: 5px;
}

.container-side-notifiche{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:center;
  padding: 15px;
  background-color: #8edafc;
}
.side-notifiche p, a{
  font-size: 16px;
  line-height: 10px;
  padding: 3px;
  margin-left: 3px;
}

.side-notifiche a{
  color: blue;
}

.container-bell{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
}
.container-bell i{
  padding-left: 8px;
  padding-top: 10px;
  color: #8edafc;
}

.container-bell i:hover{
  color:blue;
}
.side .input-search{
  background-color:#eaeaea;
  padding: 10px;
}

.side .search{
  min-width: 90%;
  padding: 8px;
  margin-left: 5px;
  border: none;
  box-shadow: 1px 1px #fff;
  outline: none;
}

.side .input-search i{
  color: grey;
}

.content{
  flex-basis: 65%;
  background: #aaa;
  display: flex;
  flex-direction: column;
}

.cont-header{
  background-color:#eaeaea;
}

/* ....................................... */

.profile{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  background-color: #eaeaea;
}

.profile img{
  max-width: 64px;
  padding: 10px;
  border-radius: 50px;
}

.header-contact-name{
  font-size: 16px;
  margin: auto;
}

.time{
  font-size: 11px
}

.profile-icons{
  margin-left: auto;
  color: grey;
  padding: 15px;
}

.profile-icons i{
  padding: 5px;
}

/* ..................................................... */

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  /* border-bottom: 1px solid #eaeaea; */
  overflow-y: auto;
  border-bottom: 1px solid #eaeaea;
  cursor: pointer;
}


.contact img{
  max-width: 15%;
  padding: 10px;
  border-radius: 50px;
}

.contact .user{
display: flex;
align-items: center;
border-bottom: 1px solid #eaeaea;

}
.contact .user h3 {
  font-size: 14px;
}
.active{
  background:#eaeaea;
}


/* ............................................................... */

.cont-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #eaeaea;
  padding: 10px;
}
.cont-footer .write-conversation{
  min-width: 85%;
  padding: 7px;
  /* margin-left: 5px; */
  border: none;
  box-shadow: 1px 1px #fff;
  outline: none;
}
.cont-footer .write-conversation:focus{
  border:1px solid #8edafc;
}
.cont-footer i{
  color: grey;
}

/* ........................................................... */

/* MESSAGES */

.messages-container{
  flex-grow: 1;
  padding: 20px;
  background-image: url(./img/mine.jpg);

}
 .sent{
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: #FAEBD7;
  width: 300px;
  height:50px;
  margin-top: 15px;
  margin-left: 450px;
}

.received{
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: white;
  width: 300px;
  height:50px;
  margin-top: 30px;
}

.sent .message-text,
.received .message-text {
   font-size: 12px;
   padding-left: 15px;
   margin-top: 15px;
   font-weight: 660;
 }

.message-time{
font-size: 10px;
display: flex;
align-content: center;
justify-content: flex-end;
padding: 8px;
}
